
.name {
  grid-area: name;
}

.genericname {
  grid-area: genericname;
}

.category {
  grid-area: category;
}

.product {
  grid-area: product;
}

.actions {
  grid-area: actions;
}

.order {
  grid-area: order;
}

.user {
  grid-area: user;
}

.brand {
  grid-area: brand;
}

.order-num {
  grid-area: order-num;
}

.customer {
  grid-area: customer;
}

.users {
  grid-area: users;
}

.location {
  grid-area: location;
}

.status {
  grid-area: status;
}

.date {
  grid-area: date;
}