@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@import "normalize";
@import "variables";
@import "partials";
@import "grid-area-names";

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

h1 {

}

h2 {

}

h3 {

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $color-danger;
}


.center {
  text-align: center;
}