$color-vermilion: hsla(10, 82%, 48%, 1);
$color-raisin-black: hsla(336, 17%, 11%, 1);
$color-jet: hsla(0, 2%, 19%, 1);
$color-honey-yellow: hsla(40, 89%, 55%, 1);
$color-cerulean-blue: hsla(222, 64%, 47%, 1);
$color-floral-white: hsla(32, 100%, 97%, 1);
$color-forest-green-crayola: hsla(133, 32%, 51%, 1);

$color-danger: $color-vermilion;
$color-danger-light: hsla(10, 82%, 68%, 1);
$color-danger-dark: hsla(10, 82%, 28%, 1);
$color-warning: $color-honey-yellow;
$color-success: $color-forest-green-crayola;

$color-gray: $color-jet;

$color-light-100: hsla(32, 100%, 97%, 1);
$color-light-200: hsla(32, 100%, 87%, 1);
$color-light-300: hsla(32, 100%, 77%, 1);
$color-light-400: hsla(32, 100%, 67%, 1);
$color-light-500: hsla(32, 100%, 57%, 1);
$color-light-600: hsla(32, 100%, 47%, 1);
$color-light-700: hsla(32, 100%, 37%, 1);
$color-light-800: hsla(32, 100%, 17%, 1);
$color-light-900: hsla(32, 100%, 7%, 1);


$color-dark-100: hsla(336, 17%, 11%, 1);
$color-dark-200: hsla(336, 17%, 21%, 1);
$color-dark-300: hsla(336, 17%, 31%, 1);
$color-dark-400: hsla(336, 17%, 41%, 1);
$color-dark-500: hsla(336, 17%, 51%, 1);
$color-dark-600: hsla(336, 17%, 61%, 1);
$color-dark-700: hsla(336, 17%, 71%, 1);
$color-dark-800: hsla(336, 17%, 81%, 1);
$color-dark-900: hsla(336, 17%, 91%, 1);