$vermilion: hsla(10, 82%, 48%, 1);
$raisin-black: hsla(336, 17%, 11%, 1);
$jet: hsla(0, 2%, 19%, 1);
$honey-yellow: hsla(40, 89%, 55%, 1);
$cerulean-blue: hsla(222, 64%, 47%, 1);
$floral-white: hsla(32, 100%, 97%, 1);
$forest-green-crayola: hsla(133, 32%, 51%, 1);

$danger: $vermilion;
$warning: $honey-yellow;
$success: $forest-green-crayola;

$light-100: hsla(32, 100%, 97%, 1);
$light-200: hsla(32, 100%, 87%, 1);
$light-300: hsla(32, 100%, 77%, 1);
$light-400: hsla(32, 100%, 67%, 1);
$light-500: hsla(32, 100%, 57%, 1);
$light-600: hsla(32, 100%, 47%, 1);
$light-700: hsla(32, 100%, 37%, 1);
$light-800: hsla(32, 100%, 17%, 1);
$light-900: hsla(32, 100%, 7%, 1);


$dark-100: hsla(336, 17%, 11%, 1);
$dark-200: hsla(336, 17%, 21%, 1);
$dark-300: hsla(336, 17%, 31%, 1);
$dark-400: hsla(336, 17%, 41%, 1);
$dark-500: hsla(336, 17%, 51%, 1);
$dark-600: hsla(336, 17%, 61%, 1);
$dark-700: hsla(336, 17%, 71%, 1);
$dark-800: hsla(336, 17%, 81%, 1);
$dark-900: hsla(336, 17%, 91%, 1);