header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

#top_navbar {
  display: grid;
  grid-template-areas: 'navbar_context_switcher navbar_links navbar_userinfo';
  grid-template-columns: 1fr 1fr 1fr;

  .navbar_links {
    grid-area: navbar_links;
  }
  .navbar_userinfo {
    grid-area: navbar_userinfo;
  }
}