header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

#navbar {
  display: grid;
  grid-template-areas: '. navbar_links navbar_userinfo';
  grid-template-columns: 1fr 1fr 1fr;

  .navbar_links {
    grid-area: navbar_links;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .navbar_userinfo {
    grid-area: navbar_userinfo;
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
}