html {
  font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

body {
  display: grid;
  grid-template-areas:
          'header header header'
          '. messages .'
          '. main .'
          'footer footer footer';
  grid-template-columns: 1fr minmax(400px, 1024px) 1fr;
  grid-template-rows: 2em 5em 1fr 2em
}

header {
  grid-area: header;
}

.messages {
  grid-area: messages;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

h1 {

}

h2 {

}

h3 {

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
