h1 {

}

h2 {

}

h3 {

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item_list {
  display: grid;
}

.item_list_heading {
  font-weight: bold;
}

.storage_item {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 5fr;

}

.item_item {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}