@import "colors";

.navbar {
  display: grid;
  grid-template-areas: 'navbar-logo navbar-links navbar-userinfo';
  grid-template-columns: 1fr minmax(700px, 1440px) 1fr;
  align-content: center;
  background-color: $color-dark-100;

  a {
    color: $color-light-100;
    transition: color ease .25s;
    padding:1rem;
  }
  a:hover {
    color: $color-light-100;
  }

  .navbar-logo {
    grid-area: navbar-logo;
  }

  .navbar-links {
    grid-area: navbar-links;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
  }

  .navbar-userinfo {
    grid-area: navbar-userinfo;
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
}