@import "colors";

@mixin h-list {
  display: grid;
  justify-content: center;
}

@mixin v-list {
  display: flex;
  flex-direction: column;
  li {
    padding-left: 1ch;
    padding-right: 1ch;
    height: 2rem;
    align-content: center;
    border-bottom: 1px solid $color-light-300;
  }

  li:hover {
    filter: brightness(95%);
  }

  .even {
    background-color: $color-light-100;
  }

  .odd {
    background-color: $color-light-200;
  }
}


.list-header {
  font-weight: bold;
}

.stock-list > li {
  @include h-list;
  grid-template-columns: 1fr 3fr 1fr 5fr;

}

.product-list {
  @include v-list;

  li {
    @include h-list;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 'name brand genericname category status actions';

    .product-name {
      grid-area: name;
    }

    .product-genericname {
      grid-area: genericname;
    }

    .product-brand {
      grid-area: brand;
    }

    .product-status {
      grid-area: status;
    }

    .product-actions {
      grid-area: actions;
    }

    .product-category {
      grid-area: category;
    }
  }
}

.equipment-list > li {
  @include h-list;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: 'name product status order employee actions';

  .equipment-name {
    grid-area: name;
  }

  .equipment-product {
    grid-area: product;
  }

  .equipment-category {
    grid-area: category
  }

  .equipment-status {
    grid-area: status;
  }

  .equipment-actions {
    grid-area: actions;
  }

  .equipment-order {
    grid-area: order;
  }

  .equipment-employee {
    grid-area: employee;
  }
}