.item_list {
  display: grid;
}

.item_list_heading {
  font-weight: bold;
}

.inventory_list_detail {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 5fr;

}

.product_detail {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  justify-content: center;
  grid-template-areas: 'name label job status employee condition inventory type actions';
  @media only screen and (max-width: 700px) {
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 'name  condition inventory type actions';
  }

  .product_name {grid-area:name;}
  .product_label {grid-area:label;}
  .product_job {grid-area:job;}
  .product_status {grid-area:status;}
  .product_employee {grid-area:employee;}
  .product_condition {grid-area:condition;}
  .product_inventory {grid-area:inventory;}
  .product_type {grid-area:type;}
  .product_actions {grid-area:actions;}
}