@import "colors";

@mixin h-list {
  display: grid;
  justify-content: center;
}

@mixin v-list {
  display: flex;
  flex-direction: column;
  li {
    padding: 1ch;
    align-content: center;
    border-bottom: 1px solid $color-light-300;
  }

  li:hover {
    filter: brightness(95%);
  }

  .even {
    background-color: $color-light-100;
  }

  .odd {
    background-color: $color-light-200;
  }
}


.list-header {
  font-weight: bold;
}

.stock-list > li {
  @include h-list;
  grid-template-columns: 1fr 3fr 1fr 5fr;

}

.product-list {
  @include v-list;

  li {
    @include h-list;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 'name brand genericname category status actions';

    .name {
      grid-area: name;
    }

    .genericname {
      grid-area: genericname;
    }

    .brand {
      grid-area: brand;
    }

    .status {
      grid-area: status;
    }

    .actions {
      grid-area: actions;
    }

    .category {
      grid-area: category;
    }
  }
}

.equipment-list {
  @include v-list;
}

.equipment-list > li {
  @include h-list;
  grid-template-columns: 2fr 2fr repeat(5, 1fr);
  grid-template-areas: 'name product brand status order user actions';

  .name {
    grid-area: name;
  }

  .product {
    grid-area: product;
  }

  .status {
    grid-area: status;
  }

  .actions {
    grid-area: actions;
  }

  .order {
    grid-area: order;
  }

  .user {
    grid-area: user;
  }

  .brand {
    grid-area: brand;
  }
}


.genericproduct-list {
  @include v-list;

  li {
    @include h-list;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 'name category status actions';

    .name {
      grid-area: name;
    }

    .category {
      grid-area: category;
    }

    .status {
      grid-area: status;
    }

    .actions {
      grid-area: actions;
    }
  }
}

.customer-list {
  @include v-list;

  li {
    @include h-list;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 'name category status actions';

    .name {
      grid-area: name;
    }

    .category {
      grid-area: category;
    }

    .status {
      grid-area: status;
    }

    .actions {
      grid-area: actions;
    }
  }
}

.order-list {
  @include v-list;

  li {
    @include h-list;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'order-num customer status  date actions'
    'location location users users actions'
  ;

    .order-num {
      grid-area: order-num;
    }

    .customer {
      grid-area: customer;
    }

    .users {
      grid-area: users;
    }

    .location {
      grid-area: location;
    }

    .status {
      grid-area: status;
    }

    .date {
      grid-area: date;
    }

    .actions {
      grid-area: actions;
    }
  }
}