<li id="equipment-{{ object.id }}" class="{% if counter|divisibleby:2 %}even{% else %}odd{% endif %}">
    <span class="equipment-name">
        <a href="{% url 'inventory:equipment_detail' pk=object.id %}">{{ object.name }}</a></span>
    <span class="equipment-brand">{{ object.product.name }}</span>
    <span class="equipment-genericname">{{ object.status }}</span>
    <span class="equipment-category">{{ object.order.id }}</span>
    <span class="equipment-status">{{ object.employee.username }}</span>
    <span class="equipment-actions">
        <a
            class="btn-danger"
            hx-delete="{{ object.id }}"
            hx-target="closest li"
            hx-swap="outerHTML"
    >Delete</a>
    </span>
</li>