<li class="inventory_list_detail" id="inventory_list_detail_{{ inventoryitem.id }}">
    <span class="inventory_list_detail_name" id="inventory_list_detail_name_{{ inventoryitem.id }}">{{ inventoryitem.name }}</span>
    <span class="inventory_list_detail_label" id="inventory_list_detail_label_{{ inventoryitem.id }}">{{ inventoryitem.label }}</span>
    <span class="inventory_list_detail_job" id="inventory_list_detail_job_{{ inventoryitem.id }}">{{ inventoryitem.job }}</span>
    <span class="inventory_list_detail_status" id="inventory_list_detail_status_{{ inventoryitem.id }}">{{ inventoryitem.status }}</span>
    <span class="inventory_list_detail_employee" id="inventory_list_detail_employee_{{ inventoryitem.id }}">{{ inventoryitem.employee }}</span>
    <span class="inventory_list_detail_condition" id="inventory_list_detail_condition_{{ inventoryitem.id }}">{{ inventoryitem.condition }}</span>
    <span class="inventory_list_detail_inventory" id="inventory_list_detail_inventory_{{ inventoryitem.id }}">{{ inventoryitem.inventory }}</span>
    <span class="inventory_list_detail_type" id="inventory_list_detail_type_{{ inventoryitem.id }}">{{ inventoryitem.type }}</span>
</li>