<ul class="inventoryitem_list" id="inventoryitem_list">
    <li class="item_item">
        <span class="inventoryitem_list_heading">Name</span>
        <span class="inventoryitem_list_heading">Label</span>
        <span class="inventoryitem_list_heading">Job</span>
        <span class="inventoryitem_list_heading">Status</span>
        <span class="inventoryitem_list_heading">Employee</span>
        <span class="inventoryitem_list_heading">Condition</span>
        <span class="inventoryitem_list_heading">Inventory</span>
        <span class="inventoryitem_list_heading">Type</span>
    </li>
    {% for inventoryitem in inventoryitem_list %}
        {% include 'inventory/partials/inventoryitem_list_detail.html' with inventoryitem=inventoryitem %}
    {% endfor %}
</ul>