<ul class="item_list" id="item_list">
    <li class="item_item">
        <span class="item_list_heading">Name</span>
        <span class="item_list_heading">Label</span>
        <span class="item_list_heading">Job</span>
        <span class="item_list_heading">Status</span>
        <span class="item_list_heading">Employee</span>
        <span class="item_list_heading">Condition</span>
        <span class="item_list_heading">Storage</span>
        <span class="item_list_heading">Type</span>
    </li>
    {% for item_item in item_list %}
        {% include 'inventory/partials/item_item.html' with item_item=item_item %}
    {% endfor %}
</ul>