<li id="{{ model_name }}-{{ object.id }}" class="{% if counter|divisibleby:2 %}even{% else %}odd{% endif %}">
    <span class="order-num"><a href="{% url 'inventory:order_detail' pk=object.id %}">{{ object.id }}</a></span>
    <span class="customer">{{ object.customer }}</span>
    <span class="location">{{ object.location }}</span>
    <span class="status">{{ object.status }}</span>
    <span class="employees">{{ object.employee_names }}</span>
    <span class="date">{{ object.date }}</span>
    <span class="actions">
        <a
                class="btn-danger"
                hx-delete="{{ object.id }}"
                hx-target="closest li"
                hx-swap="outerHTML"
        >Delete</a>
    </span>
</li>
