<ul class="product-list" id="product-list">
    <li class="product-detail">
        <span class="product-name">Name</span>
        <span class="product-generic-name">Generic Name</span>
        <span class="product-category">Category</span>
        <span class="product-order">Order</span>
        <span class="product-status">Status</span>
        <span class="product-employee" >Employee</span>
        <span class="product-condition">Condition</span>
        <span class="product-stock">Stock</span>
        <span class="product-actions">Actions</span>
    </li>
    {% for object in object_list %}
        {% include 'inventory/partials/product_detail.html' with object=object %}
    {% endfor %}
</ul>