<ul class="product_list" id="product_list">
    <li class="product_detail">
        <span class="product_name">Name</span>
        <span class="product_generic_name">Generic Name</span>
        <span class="product_category">Category</span>
        <span class="product_job">Job</span>
        <span class="product_status">Status</span>
        <span class="product_employee" >Employee</span>
        <span class="product_condition">Condition</span>
        <span class="product_stock">Stock</span>
        <span class="product_actions">Actions</span>
    </li>
    {% for object in object_list %}
        {% include 'inventory/partials/product_detail.html' with object=object %}
    {% endfor %}
</ul>