<li class="product-detail" id="product-{{ object.id }}">
    <span class="product-name" id="product-name-{{ object.id }}">
        <a href="{% url 'inventory:product_detail' pk=object.id %}">{{ object.name }}</a></span>
    <span class="product-generic-name" id="product-generic-name-{{ object.id }}">{{ object.generic_name.name }}</span>
    <span class="product-category" id="product-category-{{ object.id }}">{{ object.generic_name.category.name }}</span>
    <span class="product-order" id="product-order-{{ object.id }}">{{ object.order.id }}</span>
    <span class="product-status" id="product-status-{{ object.id }}">{{ object.status }}</span>
    <span class="product-employee" id="product-employee-{{ object.id }}">{{ object.employee.username }}</span>
    <span class="product-condition" id="product-condition-{{ object.id }}">{{ object.condition }}</span>
    <span class="product-stock" id="product-stock-{{ object.id }}">{{ object.stock }}</span>
    <span class="product-order" id="product-order-{{ object.id }}">{{ object.order.id }}</span>
    <span class="product-actions" id="product-actions-{{ object_id }}">
        <a
            class="btn-danger"
            hx-delete="{{ object.id }}"
            hx-target="closest li"
            hx-swap="outerHTML"
    >Delete</a>
    </span>
</li>