<li class="inventory_list_detail" id="inventory_list_detail_{{ product.id }}">
    <span class="inventory_list_detail_name" id="inventory_list_detail_name_{{ product.id }}">{{ product.name }}</span>
    <span class="inventory_list_detail_label" id="inventory_list_detail_label_{{ product.id }}">{{ product.label }}</span>
    <span class="inventory_list_detail_job" id="inventory_list_detail_job_{{ product.id }}">{{ product.job }}</span>
    <span class="inventory_list_detail_status" id="inventory_list_detail_status_{{ product.id }}">{{ product.status }}</span>
    <span class="inventory_list_detail_employee" id="inventory_list_detail_employee_{{ product.id }}">{{ product.employee }}</span>
    <span class="inventory_list_detail_condition" id="inventory_list_detail_condition_{{ product.id }}">{{ product.condition }}</span>
    <span class="inventory_list_detail_inventory" id="inventory_list_detail_inventory_{{ product.id }}">{{ product.inventory }}</span>
    <span class="inventory_list_detail_type" id="inventory_list_detail_type_{{ product.id }}">{{ product.type }}</span>
</li>