<li id="product-{{ object.id }}" class="{% if counter|divisibleby:2 %}even{% else %}odd{% endif %}">
    <span class="product-name">
        <a href="{% url 'inventory:product_detail' pk=object.id %}">{{ object.name }}</a></span>
    <span class="product-brand">{{ object.brand.name }}</span>
    <span class="product-genericname">{{ object.generic_name.name }}</span>
    <span class="product-category">{{ object.generic_name.category.name }}</span>
    <span class="product-status">{{ object.status }}</span>
    <span class="product-actions">
        <a
            class="btn-danger"
            hx-delete="{{ object.id }}"
            hx-target="closest li"
            hx-swap="outerHTML"
    >Delete</a>
    </span>
</li>