<li class="product_detail" id="product_{{ object.id }}">
    <span class="product_name" id="product_name_{{ object.id }}">
        <a href="{% url 'inventory:product_detail' pk=object.id %}">{{ object.name }}</a></span>
    <span class="product_generic_name" id="product_generic_name_{{ object.id }}">{{ object.generic_name.name }}</span>
    <span class="product_category" id="product_category_{{ object.id }}">{{ object.generic_name.category.name }}</span>
    <span class="product_job" id="product_job_{{ object.id }}">{{ object.job.id }}</span>
    <span class="product_status" id="product_status_{{ object.id }}">{{ object.status }}</span>
    <span class="product_employee" id="product_employee_{{ object.id }}">{{ object.employee }}</span>
    <span class="product_condition" id="product_condition_{{ object.id }}">{{ object.condition }}</span>
    <span class="product_stock" id="product_stock_{{ object.id }}">{{ object.stock }}</span>
    <span class="product_type" id="product_type_{{ object.id }}">{{ object.product_type }}</span>
    <span class="product_actions" id="product_actions_{{ object_id }}">
        <a
            class="btn_danger"
            hx-delete="{{ object.id }}"
            hx-target="closest li"
            hx-swap="outerHTML"
    >Delete</a>
    </span>
</li>