<ul class="stock_list" id="stock_list">
    <li class="stock_list_detail">
        <span class="item_list_heading">ID</span>
        <span class="item_list_heading">Name</span>
        <span class="item_list_heading">Status</span>
        <span class="item_list_heading">Location</span>
    </li>
{% for stock in stock_list %}
    {% include 'inventory/partials/stock_list_detail.html' with stock=stock %}
{% endfor %}
    <a href="{% url 'inventory:stock_create' %}"><i class="material-icons">add</i></a>
</ul>