<li id="{{ model_name }}-{{ object.id }}" class="{% if counter and counter|divisibleby:2 %}even{% else %}odd{% endif %}">
    <span class="id" id="material_id_{{ storage_location.id }}">
        <a href="{% url 'inventory:storage_location_detail' pk=storage_location.id %}">{{ storage_location.id }}</a>
    </span>
    <span class="name">{{ storage_location.name }}</span>
    <span class="status">{{ storage_location.status }}</span>
    <span class="location">{{ storage_location.location }}</span>
</li>
