{% load static %}
{% load django_htmx %}
{% django_htmx_script %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'inventory/css/style.css' %}">
    <title>{{ title }}</title>
</head>
<body>
{% include 'inventory/components/navbar.html' %}
{% include 'inventory/components/header.html' %}
{% include 'inventory/components/messages.html' %}

<main>
    {% block main %}{% endblock %}
</main>

{% include 'inventory/components/footer.html' %}

{% block javascript %}{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/htmx.org@1.6.1"></script>
<script defer>let csrfToken = '{{ csrf_token }}'</script>
<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = csrfToken;
    })

</script>

</body>
</html>