{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'inventory/css/style.css' %}">
        <title>{{ title }}</title>
    </head>
    <body>
        {% include 'inventory/components/header.html' %}

        {% if breadcrumbs %}
            {% include 'inventory/components/breadcrumbs.html' with breadcrumbs=breadcrumbs %}
        {% endif %}

        {% block main %}{% endblock %}

        {% include 'inventory/components/footer.html' %}

        {% block javascript %}{% endblock %}
    </body>
</html>