{% extends 'inventory/base.html' %}
{% block main %}
    <div class="card">
        <h2>{{ object.name }}</h2>
        <h3>{{ object.interchangeable_material.name }}</h3>
        <span class="tag">{{ object.interchangeable_material.category }}</span>
        <ul class="properties">
            <li class="property">
                <span class="property-name">Status</span>
                <span class="property-value">{{ object.status }}</span>
            </li>
            <li class="property">
                <span class="property-name">Employee</span>
                <span class="property-value">{{ object.employee }}</span>
            </li>
            <li class="property">
                <span class="property-name">Condition</span>
                <span class="property-value">{{ object.condition }}</span>
            </li>
            <li class="property">
                <span class="property-name">StockLocation</span>
                <span class="property-value">
                    {% if object.stock_location %}
                        <a href="{% url 'inventory:stock_location_detail' pk=object.stock_location.id %}">{{ object.stock_location }}</a>
                    {% endif %}
                </span>
            </li>
        </ul>
        <ul class="card-actions">
            <li class="card-action"><a href="{% url "inventory:material_update" pk=object.id %}">Edit</a></li>
            <li class="card-action"><a href="{% url "inventory:material_delete" pk=object.id %}">Delete</a></li>
        </ul>
    </div>
{% endblock %}