{% extends 'inventory/base.html' %}
{% block main %}
    <div class="card">
        <h2>{{ object.name }}</h2>
        <h3>{{ object.interchangeable_product.name }}</h3>
        <span class="tag">{{ object.interchangeable_product.category }}</span>
        <ul class="properties">
            <li class="property">
                <span class="property-name">Status</span>
                <span class="property-value">{{ object.status }}</span>
            </li>
            <li class="property">
                <span class="property-name">Employee</span>
                <span class="property-value">{{ object.employee }}</span>
            </li>
            <li class="property">
                <span class="property-name">Condition</span>
                <span class="property-value">{{ object.condition }}</span>
            </li>
            <li class="property">
                <span class="property-name">Warehouse</span>
                <span class="property-value">
                    {% if object.warehouse %}
                        <a href="{% url 'inventory:warehouse_detail' pk=object.warehouse.id %}">{{ object.warehouse }}</a>
                    {% endif %}
                </span>
            </li>
        </ul>
        <ul class="card-actions">
            <li class="card-action"><a href="{% url "inventory:product_update" pk=object.id %}">Edit</a></li>
            <li class="card-action"><a href="{% url "inventory:product_delete" pk=object.id %}">Delete</a></li>
        </ul>
    </div>
{% endblock %}