<li class="item_item" id="item_item_{{ item_item.id }}">
    <span class="item_item_name" id="item_list_item_name_{{ item_item.id }}">{{ item_item.name }}</span>
    <span class="item_item_label" id="item_list_item_label_{{ item_item.id }}">{{ item_item.label }}</span>
    <span class="item_item_job" id="item_list_item_job_{{ item_item.id }}">{{ item_item.job }}</span>
    <span class="item_item_status" id="item_list_item_status_{{ item_item.id }}">{{ item_item..status }}</span>
    <span class="item_item_employee" id="item_list_item_employee_{{ item_item.id }}">{{ item_item.employee }}</span>
    <span class="item_item_condition" id="item_list_item_condition_{{ item_item.id }}">{{ item_item.condition }}</span>
    <span class="item_item_storage" id="item_list_item_storage_{{ item_item.id }}">{{ item_item.storage }}</span>
    <span class="item_item_type" id="item_list_item_type_{{ item_item.id }}">{{ item_item.type }}</span>
</li>