<li class="storage_item" id="storage_item_{{ storage_item.id }}">
    <span class="storage_item_id" id="storage_item_id_{{ storage_item.id }}">
        <a href="{% url 'inventory:storage_detail' pk=storage_item.id %}">{{ storage_item.id }}</a>
    </span>
    <span class="storage_item_name" id="storage_item_name{{ storage_item.id }}">{{ storage_item.name }}</span>
    <span class="storage_item_status" id="storage_item_status{{ storage_item.id }}">{{ storage_item.status }}</span>
    <span class="storage_item_location" id="storage_item_location{{ storage_item.id }}">{{ storage_item.location }}</span>
</li>
